:root {
    --main-color: #FED136;
    --header-color: #222222;
    --subtitel-color: #777777;
    --footer-color: #FFFFFF;
    --button-color: #BBBBBB;
}

.header-link {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    color: var(--main-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 41px;
    letter-spacing: 0px;
    text-transform: uppercase;

}

.header-item {
    gap: 10px;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 10px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}

.services-item {
    list-style: none;
    margin-bottom: 117px;
}

.section-information {
    display: flex;
    justify-content: center;
}

.main-information {
    font-weight: 700;
    font-style: normal;
    color: var(--header-color);
    display: flex;
    justify-content: center;

}

.header-name {
    font-family: "Bilbo Swash Caps";
    font-weight: 400;
    font-style: normal;
    color: var(--main-color);
    text-decoration: none;
    margin: bottom 117px;
    gap: 300px;
    display: flex;
    justify-content: start;

}

.services-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--header-color);
}

.main-text {
    margin-bottom: 79px;
}

.flex-div {
    display: flex;
    justify-content: center;

}

.main-description {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-style: normal color: var(--subtitel-color)
}

.services-list {
    display: flex;
    justify-content: center;
    align-content: center;
}

.flex-main {
    display: flex;
    justify-content: center;
}

.services-description {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--subtitel-color);
}

.main-information {
    margin-bottom: 10px;
}

.text-footer {
    margin-bottom: 28px;


}

.section-information {
    font-family: "droid-serif", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--subtitel-color);
    margin-bottom: 74px;
}

::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--button-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.35px;
    line-height: 17px;
    text-align: left;
    text-transform: uppercase;

}

.services-titlea {
    color: var(--footer-color);
    margin-top: 92px;
    margin: bottom 20px;
    display: flex;
    justify-content: center;
}

.servisec-color {
    color: var(--footer-color);
    margin-top: 27px;
    margin-bottom: 115px;
    color: white;
    background-color: #FED136;
    margin: 0 auto;
    padding-top: 18px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 28px;
    border: none;
}

.input-comment {
    width: 458px;
    height: 212px;
    resize: none;

}

.text-flex {
    display: flex;
    gap: 27px;
}

.services-title {
    display: flex;
    justify-content: center;
}

.form-wraper {}

.label-flex {
    width: 438px;
    margin-bottom: 28px;
    padding-top: 10px;
    padding-left: 0px;
    height: 39px;

}

.text-aria {
    width: 458px;
    height: 212px;
}

.footer-color {
    background-color: #222222;
}

.container {
    width: 933px;
    margin: 0 auto;
    outline: 1px solid blue;
}